In [5]:
#Pandas Function 
import pandas as pd
csv = pd.read_csv("C:\\Users\\arpit\\Downloads\\text.csv")
csv

     Game Number   "Game Length"
0              1              30
1              2              29
2              3              31
3              4              16
4              5              24
..           ...             ...
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

[1000 rows x 2 columns]

In [7]:
csv.index

RangeIndex(start=0, stop=1000, step=1)

In [9]:
csv.describe()

       Game Number   "Game Length"
count  1000.000000     1000.000000
mean    500.500000       35.411000
std     288.819436       23.412608
min       1.000000        7.000000
25%     250.750000       19.000000
50%     500.500000       30.000000
75%     750.250000       45.000000
max    1000.000000      197.000000

In [13]:
csv.head(4)

   Game Number   "Game Length"
0            1              30
1            2              29
2            3              31
3            4              16

In [15]:
csv.tail(2)

     Game Number   "Game Length"
998          999              30
999         1000              12

In [23]:
csv[990:998]

     Game Number   "Game Length"
990          991              24
991          992              27
992          993              28
993          994              32
994          995              93
995          996              24
996          997              21
997          998              47

In [25]:
csv.index.array

<NumpyExtensionArray>
[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
 ...
 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]
Length: 1000, dtype: int64

In [27]:
csv.to_numpy()

array([[   1,   30],
       [   2,   29],
       [   3,   31],
       ...,
       [ 998,   47],
       [ 999,   30],
       [1000,   12]], dtype=int64)

In [29]:
import numpy as np 
v = np.asarray(csv)
v

array([[   1,   30],
       [   2,   29],
       [   3,   31],
       ...,
       [ 998,   47],
       [ 999,   30],
       [1000,   12]], dtype=int64)

In [31]:
csv.sort_index(axis = 0 , ascending = False)

     Game Number   "Game Length"
999         1000              12
998          999              30
997          998              47
996          997              21
995          996              24
..           ...             ...
4              5              24
3              4              16
2              3              31
1              2              29
0              1              30

[1000 rows x 2 columns]

In [ ]:
# csv.loc[0 , "Game Number"] = "Number"
# csv

In [41]:
# csv.loc[[2,3] , ["Game Number" , "Game Length"]]

In [43]:
csv.iloc[0 , 1]

30

In [51]:
csv.drop("Game Number" , axis = 1)

     "Game Length"
0               30
1               29
2               31
3               16
4               24
..             ...
995             24
996             21
997             47
998             30
999             12

[1000 rows x 1 columns]

In [53]:
import pandas as pd 

var = pd.read_csv("C:\\Users\\arpit\\Downloads\\text.csv")
var

     Game Number   "Game Length"
0              1              30
1              2              29
2              3              31
3              4              16
4              5              24
..           ...             ...
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

[1000 rows x 2 columns]

In [55]:
var.replace(to_replace = 1 , value = 22)

     Game Number   "Game Length"
0             22              30
1              2              29
2              3              31
3              4              16
4              5              24
..           ...             ...
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

[1000 rows x 2 columns]

In [57]:
var.replace([1,2,3,4,5,6,7,8] , 22)

     Game Number   "Game Length"
0             22              30
1             22              29
2             22              31
3             22              16
4             22              24
..           ...             ...
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

[1000 rows x 2 columns]

In [61]:
var.replace("[A-Za-z]" , 22 , regex = True)

     Game Number   "Game Length"
0              1              30
1              2              29
2              3              31
3              4              16
4              5              24
..           ...             ...
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

[1000 rows x 2 columns]

In [63]:
# var.replace({"Game Number " : '[A-Z]'} , 22 , regex = True)
var.replace(1 , method = "ffill")

C:\Users\arpit\AppData\Local\Temp\ipykernel_13160\2954515747.py:2: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(1 , method = "ffill")

     Game Number   "Game Length"
0              1              30
1              2              29
2              3              31
3              4              16
4              5              24
..           ...             ...
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

[1000 rows x 2 columns]

In [65]:
var.replace(1 , method = "bfill" , limit = 3)

C:\Users\arpit\AppData\Local\Temp\ipykernel_13160\3279075029.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(1 , method = "bfill" , limit = 3)

     Game Number   "Game Length"
0              2              30
1              2              29
2              3              31
3              4              16
4              5              24
..           ...             ...
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

[1000 rows x 2 columns]

In [67]:
var.replace(1 , method = "bfill" , limit = 3 , inplace = True)
var

C:\Users\arpit\AppData\Local\Temp\ipykernel_13160\731477432.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(1 , method = "bfill" , limit = 3 , inplace = True)

     Game Number   "Game Length"
0              2              30
1              2              29
2              3              31
3              4              16
4              5              24
..           ...             ...
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

[1000 rows x 2 columns]

In [71]:
#Interpolate 

import pandas as pd 
var1 = pd.read_csv("C:\\Users\\arpit\\Downloads\\text.csv")
var1

     Game Number   "Game Length"
0              1              30
1              2              29
2              3              31
3              4              16
4              5              24
..           ...             ...
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

[1000 rows x 2 columns]

In [73]:
var1.interpolate()

     Game Number   "Game Length"
0              1              30
1              2              29
2              3              31
3              4              16
4              5              24
..           ...             ...
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

[1000 rows x 2 columns]

In [75]:
var.interpolate(method = "linear" , axis = 1 )

     Game Number   "Game Length"
0              2              30
1              2              29
2              3              31
3              4              16
4              5              24
..           ...             ...
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

[1000 rows x 2 columns]

In [ ]:
# var.interpolate(limit_direction = "forward" , limit = 2)
# var.interpolate(limit_direction = "backward" , limit = 2)
# var.interpolate(limit_direction = "both" , limit = 2)


var.interpolate(limit_area = "outside") #inside

In [79]:
#Merge 
import pandas as pd 
var1 = pd.DataFrame({"A":[1,2,3,4] , "B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,5] , "c":[21,22,23,24]})

pd.merge(var1 , var2 , on = "A")

   A   B   c
0  1  11  21
1  2  12  22
2  3  13  23
3  4  14  24

In [84]:
import pandas as pd 
var1 = pd.DataFrame({"A":[1,2,3,4] , "B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,5] , "c":[21,22,23,24]})

pd.merge(var1 , var2 , how = "left")

   A   B     c
0  1  11  21.0
1  2  12  22.0
2  3  13  23.0
3  4  14   NaN

In [90]:
import pandas as pd 
var1 = pd.DataFrame({"A":[1,2,3,4] , "B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,5] , "B":[21,22,23,24]})

pd.merge(var1 , var2 , left_index = True , right_index = True , suffixes = ("name" , "Game"))

   Aname  Bname  AGame  BGame
0      1     11      1     21
1      2     12      2     22
2      3     13      3     23
3      4     14      5     24

In [96]:
#Concat 
import pandas as pd 
sr1 = pd.Series([1,2,3,4])
sr2 = pd.Series([11,22,33,44])

pd.concat([sr1 , sr2])

0     1
1     2
2     3
3     4
0    11
1    22
2    33
3    44
dtype: int64

In [102]:
d1 = pd.DataFrame({"A":[1,2,3,4] , "B":[11,12,13,14]})
d2 = pd.DataFrame({"A":[1,2,3,5] , "c":[21,22,23,24]})

pd.concat([d1,d2] , axis = 1)

   A   B  A   c
0  1  11  1  21
1  2  12  2  22
2  3  13  3  23
3  4  14  5  24

In [106]:
d1 = pd.DataFrame({"A":[1,2,3,4] , "B":[11,12,13,14]})
d2 = pd.DataFrame({"A":[1,2] , "c":[21,22]})

pd.concat([d1,d2] , axis = 1)

   A   B    A     c
0  1  11  1.0  21.0
1  2  12  2.0  22.0
2  3  13  NaN   NaN
3  4  14  NaN   NaN

In [112]:
#To solve this NAN problem we use join 

# d1 = pd.DataFrame({"A":[1,2,3,4] , "B":[11,12,13,14]})
# d2 = pd.DataFrame({"A":[1,2] , "c":[21,22]})

# pd.concat([d1,d2] , axis = 1 , join = "inner ")

In [116]:
d1 = pd.DataFrame({"A":[1,2,3,4] , "B":[11,12,13,14]})
d2 = pd.DataFrame({"A":[1,2, 3 , 4] , "c":[21,22 , 23 , 23]})

pd.concat([d1,d2] , axis = 0 , keys = ["d1" , "d2"])

      A     B     c
d1 0  1  11.0   NaN
   1  2  12.0   NaN
   2  3  13.0   NaN
   3  4  14.0   NaN
d2 0  1   NaN  21.0
   1  2   NaN  22.0
   2  3   NaN  23.0
   3  4   NaN  23.0

In [ ]:
d1 = pd.DataFrame({"A":[1,2,3,4]})
d2 = pd.DataFrame({"A":[1,2, 3 , 4] , "C":[21,22 , 23 , 23]})

pd.concat([d1,d2])

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

# Load dataset (example from PhysioNet or MIMIC preprocessed CSV)
data = pd.read_csv("icu_sensor_data.csv")

# Preprocessing
data.fillna(method='ffill', inplace=True)

# Feature & target
X = data[['heart_rate', 'spo2', 'bp_sys', 'bp_dia', 'temperature']]
y = data['critical_event']  # 1 = Yes, 0 = No

# Train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Prediction
y_pred = model.predict(X_test)

# Evaluation
print(classification_report(y_test, y_pred))



heart_rate	spo2	bp_sys	bp_dia	temperature	critical_event
80	98	120	80	36.7	0
92	95	130	85	37.2	0
110	88	145	95	38.1	1
...	...	...	...	...	...

In [4]:
import pandas as pd
import numpy as np

# Create sample ECG feature data
np.random.seed(42)
n_samples = 100
data = pd.DataFrame({
    'RR_interval': np.random.normal(0.8, 0.1, n_samples),
    'QRS_width': np.random.normal(0.09, 0.02, n_samples),
    'heart_rate': np.random.normal(75, 5, n_samples),
    'label': np.random.choice([0, 1], n_samples)  # 0: Normal, 1: Arrhythmia
})

# Save as CSV
data.to_csv('ecg_features.csv', index=False)
print("Dummy ECG dataset created successfully.")

Dummy ECG dataset created successfully.

In [10]:
import zipfile
import pandas as pd

# Extract the ZIP
zip_path = "C:/Users/arpit/Downloads/ecg.csv.zip"
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall("C:/Users/arpit/Downloads/")

# Load the extracted CSV (assuming it's named ecg.csv inside)
csv_path = "C:/Users/arpit/Downloads/ecg.csv"
df = pd.read_csv(csv_path)

print(df.head())  # View the first few rows

   -0.11252183  -2.8272038  -3.7738969  -4.3497511  -4.376041  -3.4749863  \
0    -1.100878   -3.996840   -4.285843   -4.506579  -4.022377   -3.234368
1    -0.567088   -2.593450   -3.874230   -4.584095  -4.187449   -3.151462
2     0.490473   -1.914407   -3.616364   -4.318823  -4.268016   -3.881110
3     0.800232   -0.874252   -2.384761   -3.973292  -4.338224   -3.802422
4    -1.507674   -3.574550   -4.478011   -4.408275  -3.321242   -2.105171

   -2.1814082  -1.8182865  -1.2505219  -0.47749208  ...  0.79216787  \
0   -1.566126   -0.992258   -0.754680     0.042321  ...    0.538356
1   -1.742940   -1.490659   -1.183580    -0.394229  ...    0.886073
2   -2.993280   -1.671131   -1.333884    -0.965629  ...    0.350816
3   -2.534510   -1.783423   -1.594450    -0.753199  ...    1.148884
4   -1.481048   -1.301362   -0.498240    -0.286928  ...    1.089068

   0.93354122  0.79695779  0.57862066  0.2577399  0.22807718  0.12343082  \
0    0.656881    0.787490    0.724046   0.555784    0.476333    0.773820
1    0.531452    0.311377   -0.021919  -0.713683   -0.532197    0.321097
2    0.499111    0.600345    0.842069   0.952074    0.990133    1.086798
3    0.958434    1.059025    1.371682   1.277392    0.960304    0.971020
4    0.983369    1.014124    0.952629   0.749326    1.007076    1.634990

   0.92528624  0.19313742  1.0
0    1.119621   -1.436250  1.0
1    0.904227   -0.421797  1.0
2    1.403011   -0.383564  1.0
3    1.614392    1.421456  1.0
4    1.493365   -0.783134  1.0

[5 rows x 141 columns]

In [8]:
import numpy as np
import matplotlib.pyplot as plt

# Assuming the signal column is named 'ecg'
ecg_signal = df['ecg'].values
fs = 360  # Sampling frequency (adjust based on dataset info)

# Smooth using moving average (window = 5 samples)
def moving_average(signal, window=5):
    return np.convolve(signal, np.ones(window)/window, mode='same')

denoised_ecg = moving_average(ecg_signal)

# Plot
plt.figure(figsize=(10, 4))
plt.plot(ecg_signal[:1000], label='Raw ECG')
plt.plot(denoised_ecg[:1000], label='Denoised ECG')
plt.legend()
plt.title("Noise Removal from ECG")
plt.show()

KeyError: 'ecg'

In [12]:
import pandas as pd

# Load CSV without header
df = pd.read_csv("C:/Users/arpit/Downloads/ecg.csv", header=None)

# Show shape and preview
print("Shape:", df.shape)
print(df.head())

Shape: (4998, 141)
        0         1         2         3         4         5         6    \
0 -0.112522 -2.827204 -3.773897 -4.349751 -4.376041 -3.474986 -2.181408
1 -1.100878 -3.996840 -4.285843 -4.506579 -4.022377 -3.234368 -1.566126
2 -0.567088 -2.593450 -3.874230 -4.584095 -4.187449 -3.151462 -1.742940
3  0.490473 -1.914407 -3.616364 -4.318823 -4.268016 -3.881110 -2.993280
4  0.800232 -0.874252 -2.384761 -3.973292 -4.338224 -3.802422 -2.534510

        7         8         9    ...       131       132       133       134  \
0 -1.818286 -1.250522 -0.477492  ...  0.792168  0.933541  0.796958  0.578621
1 -0.992258 -0.754680  0.042321  ...  0.538356  0.656881  0.787490  0.724046
2 -1.490659 -1.183580 -0.394229  ...  0.886073  0.531452  0.311377 -0.021919
3 -1.671131 -1.333884 -0.965629  ...  0.350816  0.499111  0.600345  0.842069
4 -1.783423 -1.594450 -0.753199  ...  1.148884  0.958434  1.059025  1.371682

        135       136       137       138       139  140
0  0.257740  0.228077  0.123431  0.925286  0.193137  1.0
1  0.555784  0.476333  0.773820  1.119621 -1.436250  1.0
2 -0.713683 -0.532197  0.321097  0.904227 -0.421797  1.0
3  0.952074  0.990133  1.086798  1.403011 -0.383564  1.0
4  1.277392  0.960304  0.971020  1.614392  1.421456  1.0

[5 rows x 141 columns]

In [20]:
df.columns = [f"col_{i}" for i in range(df.shape[1])]

In [22]:
import numpy as np
import matplotlib.pyplot as plt

# Assuming the signal column is named 'ecg'
ecg_signal = df['ecg'].values
fs = 360  # Sampling frequency (adjust based on dataset info)

# Smooth using moving average (window = 5 samples)
def moving_average(signal, window=5):
    return np.convolve(signal, np.ones(window)/window, mode='same')

denoised_ecg = moving_average(ecg_signal)

# Plot
plt.figure(figsize=(10, 4))
plt.plot(ecg_signal[:1000], label='Raw ECG')
plt.plot(denoised_ecg[:1000], label='Denoised ECG')
plt.legend()
plt.title("Noise Removal from ECG")
plt.show()

KeyError: 'ecg'

In [24]:
# Normalize the ECG to [0, 1]
normalized_ecg = (denoised_ecg - np.min(denoised_ecg)) / (np.max(denoised_ecg) - np.min(denoised_ecg))

NameError: name 'denoised_ecg' is not defined

In [26]:
from scipy.signal import find_peaks

# Detect R-peaks
peaks, _ = find_peaks(normalized_ecg, distance=fs*0.6, height=0.5)  # 0.6 sec = 100 BPM

# RR Intervals (in seconds)
rr_intervals = np.diff(peaks) / fs

# QRS Width estimation: simple peak width near R
qrs_widths = []
for peak in peaks[1:-1]:
    qrs_region = normalized_ecg[peak-10:peak+10]
    width = np.sum(qrs_region > 0.6) / fs  # crude estimate
    qrs_widths.append(width)

# Build dataframe of features
features = pd.DataFrame({
    'RR_interval': rr_intervals[:len(qrs_widths)],
    'QRS_width': qrs_widths
})

print(features.head())

NameError: name 'normalized_ecg' is not defined

In [ ]:
features['label'] = 0  # Add dummy label (0 = normal), update with real if available
features.to_csv("ecg_features.csv", index=False)

In [28]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

# 📥 Load extracted ECG features dataset (ensure your file has proper headers or set header=None)
data = pd.read_csv("ecg_features.csv")  # Should include features like RR_interval, QRS_width, etc.

# 🎯 Feature matrix (X) and target labels (y)
X = data.drop('label', axis=1)  # Features
y = data['label']               # Target (e.g., 0 = Normal, 1 = Arrhythmia)

# 🧪 Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 🔍 Model Training
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# 🔎 Predictions
y_pred = model.predict(X_test)

# 📊 Evaluation
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Confusion Matrix:
 [[7 6]
 [3 4]]

Classification Report:
               precision    recall  f1-score   support

           0       0.70      0.54      0.61        13
           1       0.40      0.57      0.47         7

    accuracy                           0.55        20
   macro avg       0.55      0.55      0.54        20
weighted avg       0.59      0.55      0.56        20

In [30]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", cm)

Confusion Matrix:
 [[7 6]
 [3 4]]

In [32]:
from sklearn.metrics import accuracy_score

acc = accuracy_score(y_test, y_pred)
print("Accuracy:", acc)

Accuracy: 0.55

In [34]:
from sklearn.metrics import classification_report

print("Classification Report:\n", classification_report(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           0       0.70      0.54      0.61        13
           1       0.40      0.57      0.47         7

    accuracy                           0.55        20
   macro avg       0.55      0.55      0.54        20
weighted avg       0.59      0.55      0.56        20

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
import joblib

# Load your real CSV here
df = pd.read_csv("your_uploaded_data.csv")  # Format: query,text_label

# Train a simple pipeline
model = Pipeline([
    ("tfidf", TfidfVectorizer()),
    ("clf", MultinomialNB())
])

# Fit model
model.fit(df["query"], df["text_label"])

# Save model
joblib.dump(model, "data_entry_model.pkl")

print("✅ Model trained and saved!")