In [69]:
import pandas as pd 
dataset = pd.read_csv("C:\\Users\\arpit\\Downloads\\MissingData.csv")
dataset.head(10)

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
9,8,125.0,96.0,NaN,NaN,NaN,0.232,54,1

In [4]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

dataset.isnull().sum()

Pregnant               0
Glucose                5
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [12]:
dataset.shape

(768, 9)

In [14]:
import pandas as pd 
dataset = pd.read_csv("C:\\Users\\arpit\\Downloads\\MissingData.csv")
(dataset.isnull().sum()/dataset.shape[0])*100

Pregnant              0.000000
Glucose               0.651042
Diastolic_BP          4.557292
Skin_Fold            29.557292
Serum_Insulin        48.697917
BMI                   1.432292
Diabetes_Pedigree     0.000000
Age                   0.000000
Class                 0.000000
dtype: float64

In [18]:
dataset.fillna(10).head(10) # it is not the right way we have to fill by their data types

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,10.0,33.6,0.627,50,1
1,1,85.0,66.0,29.0,10.0,26.6,0.351,31,0
2,8,183.0,64.0,10.0,10.0,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,10.0,10.0,25.6,0.201,30,0
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
7,10,115.0,10.0,10.0,10.0,35.3,0.134,29,0
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
9,8,125.0,96.0,10.0,10.0,10.0,0.232,54,1

In [20]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pregnant           768 non-null    int64
 1   Glucose            763 non-null    float64
 2   Diastolic_BP       733 non-null    float64
 3   Skin_Fold          541 non-null    float64
 4   Serum_Insulin      394 non-null    float64
 5   BMI                757 non-null    float64
 6   Diabetes_Pedigree  768 non-null    float64
 7   Age                768 non-null    int64
 8   Class              768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [30]:
dataset.fillna(method = "ffill" , axis  = 1)

C:\Users\arpit\AppData\Local\Temp\ipykernel_3080\144104771.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataset.fillna(method = "ffill" , axis  = 1)

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6.0,148.0,72.0,35.0,35.0,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.0,29.0,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,64.0,64.0,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0
...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0.0
764,2.0,122.0,70.0,27.0,27.0,36.8,0.340,27.0,0.0
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0.0
766,1.0,126.0,60.0,60.0,60.0,30.1,0.349,47.0,1.0
767,1.0,93.0,70.0,31.0,31.0,30.4,0.315,23.0,0.0

In [38]:
dataset.fillna(method = "bfill" , axis  = 1)

C:\Users\arpit\AppData\Local\Temp\ipykernel_3080\1788167818.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataset.fillna(method = "bfill" , axis  = 1)

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6.0,148.0,72.0,35.0,33.6,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.0,26.6,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,23.3,23.3,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0
...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0.0
764,2.0,122.0,70.0,27.0,36.8,36.8,0.340,27.0,0.0
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0.0
766,1.0,126.0,60.0,30.1,30.1,30.1,0.349,47.0,1.0
767,1.0,93.0,70.0,31.0,30.4,30.4,0.315,23.0,0.0

In [ ]:
#mod filling mtlb jo data sabse jyada bar repeat hota hai use mising values ki jagah fill kr dete hai

In [52]:

dataset["Serum_Insulin"].fillna(dataset["Serum_Insulin"].mode()[0],inplace = True)

C:\Users\arpit\AppData\Local\Temp\ipykernel_3080\2167310671.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Serum_Insulin"].fillna(dataset["Serum_Insulin"].mode()[0],inplace = True)

In [54]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pregnant           768 non-null    int64
 1   Glucose            763 non-null    float64
 2   Diastolic_BP       733 non-null    float64
 3   Skin_Fold          541 non-null    float64
 4   Serum_Insulin      768 non-null    float64
 5   BMI                757 non-null    float64
 6   Diabetes_Pedigree  768 non-null    float64
 7   Age                768 non-null    int64
 8   Class              768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [60]:
dataset.select_dtypes(include = "float64").isnull().sum()

Glucose                5
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin          0
BMI                   11
Diabetes_Pedigree      0
dtype: int64

In [64]:
for i in dataset.select_dtypes(include = "float64").columns:
   dataset[i].fillna(dataset[i].mode()[0],inplace = True)

C:\Users\arpit\AppData\Local\Temp\ipykernel_3080\4260734420.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[i].fillna(dataset[i].mode()[0],inplace = True)

In [66]:
dataset.isnull().sum()

Pregnant             0
Glucose              0
Diastolic_BP         0
Skin_Fold            0
Serum_Insulin        0
BMI                  0
Diabetes_Pedigree    0
Age                  0
Class                0
dtype: int64

In [107]:
import pandas as pd 
dataset = pd.read_csv("C:\\Users\\arpit\\Downloads\\MissingData.csv")
dataset.head(10)

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
9,8,125.0,96.0,NaN,NaN,NaN,0.232,54,1

In [109]:
dataset.select_dtypes(include = "float64").columns

Index(['Glucose', 'Diastolic_BP', 'Skin_Fold', 'Serum_Insulin', 'BMI',
       'Diabetes_Pedigree'],
      dtype='object')

In [99]:
# import pandas as pd
# from sklearn.impute import SimpleImputer

# # Sample dataset
# data = {
#     'Glucose': [120, None, 140],
#     'Diastolic_BP': [80, 75, None],
#     'Skin_Fold': [20, None, 25],
#     'Serum_Insulin': [None, 12, 15],
#     'BMI': [30, 35, None],
#     'Diabetes_Pedigree': [0.5, 0.6, None]
# }
# dataset = pd.DataFrame(data)

# # Initialize and apply imputer
# si = SimpleImputer(strategy="mean")
# filled_data = si.fit_transform(dataset[['Glucose', 'Diastolic_BP', 'Skin_Fold', 'Serum_Insulin', 'BMI', 'Diabetes_Pedigree']])

# print(pd.DataFrame(filled_data, columns=dataset.columns))

In [79]:
from sklearn.impute import SimpleImputer

In [85]:
import pandas as pd

In [111]:
si = SimpleImputer(strategy = "mean")
ar = si.fit_transform(dataset[['Glucose', 'Diastolic_BP', 'Skin_Fold', 'Serum_Insulin', 'BMI',
       'Diabetes_Pedigree']])
new_dataset = pd.DataFrame(ar , columns = dataset.select_dtypes(include = "float64").columns)

In [113]:
new_dataset.isnull().sum()

Glucose              0
Diastolic_BP         0
Skin_Fold            0
Serum_Insulin        0
BMI                  0
Diabetes_Pedigree    0
dtype: int64

In [115]:
new_dataset

     Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  Diabetes_Pedigree
0      148.0          72.0   35.00000     155.548223  33.6              0.627
1       85.0          66.0   29.00000     155.548223  26.6              0.351
2      183.0          64.0   29.15342     155.548223  23.3              0.672
3       89.0          66.0   23.00000      94.000000  28.1              0.167
4      137.0          40.0   35.00000     168.000000  43.1              2.288
..       ...           ...        ...            ...   ...                ...
763    101.0          76.0   48.00000     180.000000  32.9              0.171
764    122.0          70.0   27.00000     155.548223  36.8              0.340
765    121.0          72.0   23.00000     112.000000  26.2              0.245
766    126.0          60.0   29.15342     155.548223  30.1              0.349
767     93.0          70.0   31.00000     155.548223  30.4              0.315

[768 rows x 6 columns]

In [119]:
dataset["Serum_Insulin"].mean()

155.5482233502538